@font-face {
    src:
      url("../assets/fonts/Robota/Roboto-Bold.ttf") format("ttf");
    font-family: "Roboto";
    font-weight: 700;
    font-style: bold;
  }
  
  @font-face {
    src:
      url("../assets/fonts/Robota/Roboto-Medium.ttf") format("ttf");
    font-family: "Roboto";
    font-weight: 500;
    font-style: medium;
  }
  

  
  @font-face {
    src:
      url("../assets/fonts/Robota/Roboto-Light.ttf") format("ttf");
    font-family: "Roboto";
    font-weight: 300;
    font-style: light;
  }
  
  @font-face {
    src:    
      url("../assets/fonts/Robota/Roboto-Regular.ttf") format("ttf");
    font-family: "Roboto";
    font-weight: 400;
    font-style: regular;
  }

  

